@import url("reset.css"); /* This is to reset all default browser CSS to none.*/

/* Also, I stored all the colors in a separate file. This is because I was originally gonna add theming but it wasn't working out unfortunately. I kept them separate because no way am I adding them all back. */

/*----------------------------------------------*/
/*These are needed for the tab functionality and drag/drop functionality to work*/
.ui-tabs-hide { /* This class is actually no longer in jQuery UI as of v1.9, but I brought it back (in my own way) specifically for the dollmaker. I could've named it something else, but I mean, why would I? */
  visibility: hidden;
  display: block !important; /* This is to overwrite the default "display: none" functionality of the current tab hiding functionality.
  WARNING: Do NOT remove the "!important" tag! Otherwise it will not work (trust me, I've tested it). */
}

/* The panel under the tabs that contain the props*/
.ui-tabs-panel {
  overflow: visible; /* so that the panel extends as you add pieces to it*/
  clear: both;
  padding: 5px;
  position: absolute;
  width: 100%;
}

.draggedout {
  visibility: visible;
  position: absolute;
}

/*------------------------------------------------*/

/* General HTML stylings */
html {
  image-rendering: pixelated; /* We are working with pixel art (most likely; if you don't you can remove this) so we want the page to look pixelated even on zoom-in. This also helps with canvas rendering (now for real because of my custom html2canvas fork). */
  scroll-behavior: smooth; /* To scroll slowly while dragging, rather than shifting quickly all over the place */
}

/*General body styles. Change to your own colors! */
body {
  overscroll-behavior: none; /* Prevents pull-to-refresh on mobile */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
}


/* Page header and sub-header styling */
#page-header, #page-subheader {
  text-align: center; /* Center the page header and sub-header */
  margin: 0.5em;
}

/* Specific stylings for page header */
#page-header, #page-header a {
  font-size: 46px;
}

/* Specific stylings for page sub-header */
#page-subheader, #page-header a {  font-size: 26px;
  margin-bottom: 1em;
}

#page-header a, #page-subheader a {
  text-decoration: none;
}

h3 {
  font-size: 18px;
}

/* Stylings for buttons */
button {
  border-radius:5px;
  text-align: center;
  transition: 0.3s; /* Fancy button transitions */
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 0.5em;
  display: inline;
}

/*-------------------------------------------------------------------*/

/* NOTE: You can change the colors for the divs further below . . . .*/

/*this puts rounded corners around the boxes*/
.ui-corner-all,.ui-tabs-panel {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* Add defaults for browser compat. I highly recommend that you keep all of these the same for consistency among different browsers. */
  border-radius: 5px;
}

/* this puts rounded corners around the divs*/
.ui-corner-top a {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  /* Add defaults for browser compat */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

p, h6, p a, ul, li {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Make headers nice and bold */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*This div contains the whole dollmaker. It can be placed anywhere on the page and everything will follow.
  Keep the height unspecified so that it can stretch to accomodate varied number of pieces */
/* I made the dollmaker nice and responsive, too. */
#dollmaker_container {
  position: relative;
  max-width: 915px;
  margin: auto;
  line-height: 1em;
  left: 5px;
  background-color: transparent;
}

/*-------------------------------------------------------------------*/
/* The box that contains the basebody */
#bodyArea {
  position: absolute;
  top: 0px;
  width: 249px;
  height: 400px;
  z-index: 0;
}

/* Position of the base body elements*/
/* Protip: do NOT use 'margin: auto' to center your base image! It might the base image blurry on export. Yes I am speaking from experience, no it was not fun. Use absolute pixels only. */
#skintone {
  position: absolute;
  z-index: 0;
}

/* I separated the customization for the left and right eyes, so you can easily create odd-eyed dolls with any combination of colors and shapes. */
/* Set position of left eye */
#left-eye {
  position: absolute;
}

/* Set position of right eye */
#right-eye {
  position: absolute;
}

/* The background for your doll (NOT the entire dollmaker! This will be part of your exported doll and fits neatly inside the doll frame). */
#doll-bg {
  z-index: -1; /* Place the doll background behind all other images */
  inset: 0px; /* Set all positions to 0, since the background should be the same width and height as the final doll */
  position: absolute;
}

/*-------------------------------------------------------------------*/
/* The area under the base that has links for skintones */
#swatchesArea { 
  position: absolute; 
  top: 415px;
  width: 239px;
  padding: 10px 5px 0px;
}

/* individual links for thumbnails */
#swatchesArea a {
  display: block;
  float: left;
  margin: 2px 2px 7px 2px;
  width: 20px;
  height:20px;
  position:relative;
  transition: 0.3s;
}

/* the title of that area */
#swatchesArea h3 {
  font-weight: bold;
  clear: both;
  padding: 7px 0 5px 0;
}

/* Create a margin around the eye switches */
#leftEyeSwitch img, #rightEyeSwitch img {
  margin-left: 4px;
  margin-top: 5px;
}

#toolButtons {
  position: absolute;
  top: 800px;
  padding: 10px 5px 0px;
  width: 240px;
  margin-top: 10px;
  display: none;
}

/*-------------------------------------------------------------------*/

/* Instructions for using the dollmaker */
#instructions {
  position: relative;
  padding: 0px 5px;
  display: none;
}

#instructions-list {
  margin: 1em;
  display: list-item;
  list-style-type: disc;
}

/* Sub-bullet styling */
.subBullet {
  display: list-item;
  list-style-type: circle;
  margin-left: 1em;
}

/*-------------------------------------------------------------------*/

/* Draggable pieces CSS */
.ui-draggable {
  user-select: none; /* Makes it so that draggable pieces aren't selectable even when not dragged (I personally find it annoying when that happens) */
  cursor:pointer;
}

/*The area with divs in the middle that contains all the draggable pieces*/
#piecesArea {
  position: relative;
  left: 264px;
  width: 585px;
}

/*Positioning for tabs area*/
#tabsbar {
  text-align: left;
  padding: 5px 10px 5px 10px; /* This extra space is required for browser compatibility */
  position: relative;
}

/*Allows the tabs to be next to eachother*/
#tabsbar li {
  display: inline-block;
}

/*Individual tabs. Change to your own colors!*/
#tabsbar li a {
  /* !!!!!IE7 */
  padding: 3px 10px 4px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

/*Selected tab. Change to your own colors!*/
#tabsbar .ui-state-active a, #tabsbar .ui-state-active a:hover {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

/*-------------------------------------------------------------------*/

#piecesArea div {
  padding: 10px 10px 0;
}

#piecesArea img {
  margin: 0 10px 10px 0;
}

/*-------------------------------------------------------------------*/

/* Media queries for pixel scaling on mobile & desktop (since it's not ever 1:1 or with whole numbers) */

@media screen and (min-width: 960px) {
  #skintone {
    top: 55.5px;
    left: 69px;
  }
  
  #left-eye {
    top: 78.5px;
    left: 109px;
  }
  
  #right-eye {
    top: 78.5px;
    right: 109px;
  }
}

@media screen and (max-width: 960px) {
  #skintone {
    top: 55px;
    left: 69.5px;
  }

  #left-eye {
    top: 78px;
    left: 109.5px;
  }

  #right-eye {
    top: 78px;
    right: 108.5px;
  }
}